<h2>Welcome <%= @current_user.name %>!</h2>


<div class="row">

  <div class="span5">
  <h4>Pay Someone</h4>

  <% can_pay = @current_user.has_credit_card %>
  <% unless can_pay %>
    <p class="lead" style="color:brown">You cannot make payments without a valid credit card on file.</p>
  <% end %>

  <ul>
    <% @users.each do |u| 
      next if u.id == @current_user.id
      %>
      <div class="row">
        <div class="span4">
        <%= form_for Payment.new, :html => {:class => "well form-horizontal"} do |f| %>
          <div style="font-size:120%;font-weight:300"><%= u.name %></div>

          <br>
          <%= f.hidden_field :recipient_id, value: u.id %>
          <%= f.hidden_field :sender_id, value: @current_user.id %>        
          <div class="input-prepend"><span class="add-on">$</span>
            <%= f.text_field :amount, class:'input-small'%>
          </div>
          <%= f.submit 'Pay', class:'btn btn-info', disabled:(can_pay ? nil : 'diabled') %>
        <% end %>
        </div>
      </div>
    <% end %>
  </ul>
  </div>

  <div class="span3 offset3">
    <div class="well">
    <h3>Your Account</h3>

    <p class="lead">
      <%= @current_user.payments_sent.length %> payments sent<br>
      <%= @current_user.payments_received.length %> payments received
    </p>

    <p><b>Credit Card</b> <%=raw account_info_validation(@current_user.has_credit_card) %></p>
    <p><b>Bank Account</b> <%=raw account_info_validation(@current_user.has_bank_account) %></p>

    <%= link_to 'Edit Cards and Bank Accounts', edit_cards_path %>
    </div>

    <%= button_to 'Process Payment Queue', process_payments_queue_path, class: 'btn btn-warning' %>
  <div>

</div>